body {
	font: 16px Sans-Serif;
	background-image: url("saraputnam.github.io/51953.jpg");
    	background-size: 1000px 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#pic {
	float: left;
   	border: 3px solid #A9A9A9;
	padding: -1px;
	height: 150px;
}

#container {
	width: 800px;
	margin: 40px auto 60px;
}

#content-contact {
	font-size: 42px;
	font-weight: bold;
	padding: 0px 50% 0px 0;
}

#content-professionalheader {
	font-size: 28px;
	padding: 20px 0 5px 0;
	border-bottom: 1px solid #999;
}

#content-professionalheader2 {
	font-size: 28px;
	padding: 20px 0 0 0;
	border-bottom: 1px solid #999;
}

#content-presentations {
	padding: 5px 0 5px 0;
}

.date {
	float: right;
}

.city {
	float: right;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}


