body {
	font: 16px Helvetica, Sans-Serif;
	background-image: url("saraputnam.github.io/modern-abstract-background_1048-1003.jpg");
    	background-size: 80px 60px;
    	background-repeat: no-repeat;
}

#pic {
	float: right;
}

#button {
	margin-left: 40%;
	margin-right: 40%;
	background-color: #213862;
	border-radius: 15px;
	height: 100px;
}

#container {
	width: 800px;
	margin: 40px auto 60px;
}

#content-contact {
	padding: 0 0 5px 0;
	font-size: 42px;
	font-weight: bold;
	border-bottom: 1px solid #999;
}

#content-professionalheader {
	font-size: 28px;
	padding: 20px 0 5px 0;
	border-bottom: 1px solid #999;
}

.date {
	float: right;
}

.city {
	float: right;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
