body {
	font: 16px Sans-Serif;
	background-image: url("saraputnam.github.io/abstract-background-with-a-watercolor-texture_1048-2144.jpg");
    	background-size: 1000px 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#pic {
	float: right;
   	border: 3px solid #A9A9A9;
	padding: -1px;
	height: 150px;
}

#container {
	width: 800px;
	margin: 40px auto 60px;
}

#content-contact {
	font-size: 42px;
	font-weight: bold;
}

#content-professionalheader {
	font-size: 28px;
	padding: 20px 0 5px 0;
	border-bottom: 1px solid #999;
}

.date {
	float: right;
}

.city {
	float: right;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}

ul.b {
    list-style: none;
}

